[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-storages = "*"
boto3 = "*"
sentry-sdk = "*"
django-formset-js-improved = "*"

[dev-packages]
pipenv-to-requirements = "*"

[requires]
python_version = "3.8"
